/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom right, #ffffff, #7dbb88);
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: auto;
}

/* Container principal */
.container {
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 1100px;
    border-radius: 10px;
    text-align: center;
    overflow: auto;
    /* Permite rolagem no conteúdo */
    display: flex;
    flex-direction: column;
}

/* Título */
h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

/* Área de texto */
textarea {
    width: 100%;
    height: 200px;
    padding: 15px;
    font-size: 1.2em;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    resize: vertical;
}

/* Botões */
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 1.1em;
}

button:hover {
    background-color: #45a049;
}

/* Ações (Copiar e Baixar) */
.actions {
    margin-top: 20px;
}

/* Caixa de output */
#output-container {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    overflow-wrap: break-word;
    max-height: 800px;
    /* Aumenta a altura máxima */
    overflow-y: scroll;
    /* Adiciona rolagem no container de XML */
}

pre {
    font-family: 'Courier New', monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
}