/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom right, #ffffff, #7dbb88);
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    /* Evita rolagem desnecessária */
}

/* Container principal */
.container {
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 900px;
    border-radius: 10px;
    text-align: center;
    overflow: auto;
}

/* Título */
h1 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input {
    padding: 8px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
}

/* Botões */
button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #45a049;
}

/* Área de encontros agendados */
#output-container {
    margin-top: 15px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    overflow-wrap: break-word;
    max-height: 250px;
    /* Altura fixa */
    overflow-y: auto;
    /* Rolagem */
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
}

th,
td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: center;
}

th {
    background: #007bff;
    color: white;
}

/* Botões de edição e exclusão */
.edit-btn {
    background: orange;
}

.edit-btn:hover {
    background: darkorange;
}

.delete-btn {
    background: red;
}

.delete-btn:hover {
    background: darkred;
}